DEPUTY_ICAL_URL=
DEPUTY_WEB_URL=https://bb12c621103108.au.deputy.com/#/
DEPUTY_LOGIN_EMAIL=
DEPUTY_LOGIN_PASSWORD=
DEPUTY_DISPLAY_NAME=
DEPUTY_API_TOKEN=
APP_SECRET_KEY=
TRUSTED_DEVICE_DAYS=730
SIGNUP_ENABLED=true
COOKIE_SECURE=false
TZ=Pacific/Auckland
APP_PORT=8096

SYNC_AT_HOUR=5
EARLY_PRE_SHIFT_SYNC_HOURS=12
PRE_SHIFT_SYNC_MINUTES=60
CHANGED_FOLLOWUP_SYNC_MINUTES=30
